@layout('layouts/main')
@section('body')
  <div>
    <h1 class="title">Eh bilOOte!</h1>
    <p class="subtitle">
      Location de véhicules électriques à deux roues
    </p>

    <ul>
      <li>
        <a href="/rentals/bicycle">🚲 Louer un vélo électrique</a>
      </li>

      <li>
        <a href="/rentals/scooter">🛵 Louer un scooter électrique</a>
      </li>

      <li>
        <a href="/rentals/motorbike">🏍 Louer une moto électrique</a>
      </li>
    </ul>
  </div>
@end
